#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --max-parallel=1

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DBUILD_TESTING=OFF

override_dh_installsystemd:
	dh_installsystemd --name=ws-camerad --no-enable --no-start

override_dh_auto_test:
	# Skip tests during build
	true
